- name: Ansible | Copy remote directory if directory exists with name {{ docker_app }}
  when:
    - directory_to_copy is defined
    - directory_to_copy.stat.exists
    - not volume_structure_copied is truthy
  block:
    - name: Ansible | Localhost operations
      become: false
      delegate_to: localhost
      block:
        - name: Create temp directory for j2 processing
          ansible.builtin.tempfile:
            path: "{{ playbook_dir }}"
            state: directory
            suffix: _j2tmp
          register: temp_j2_dir
          changed_when: false

        - name: Copy | Docker App Directory Structure to temp dir
          ansible.builtin.copy:
            src: "{{ directory_to_copy.stat.path }}"
            dest: "{{ temp_j2_dir.path }}/"
            mode: "{{ dir_permissions | default('770') }}"

        - name: Ansible | Find | .j2 files in temp directory
          ansible.builtin.find:
            paths: "{{ temp_j2_dir.path }}"
            patterns: "*.j2"
            file_type: file
            recurse: true
          register: temp_j2_files

        - name: Ansible | Convert .j2 files in temp dir. Total = {{ temp_j2_files.files | length }}
          ansible.builtin.template:
            src: "{{ item.path }}"
            dest: "{{ item.path | regex_replace('\\.j2$', '') }}"
            mode: "0770"
          loop: "{{ temp_j2_files.files }}"
          loop_control:
            label: "{{ item.path | regex_replace('\\.j2$', '') | basename }}"
          when: temp_j2_files is defined and temp_j2_files.files | length > 0
          changed_when: false

        - name: Template | delete .j2 files in temp dir
          ansible.builtin.file:
            path: "{{ item.path }}"
            state: absent
          loop: "{{ temp_j2_files.files }}"
          loop_control:
            label: "{{ item.path | basename }}"
          when: temp_j2_files is defined and temp_j2_files.files | length > 0
          changed_when: false

    - name: Copy processed directory to final destination {{ remote_directory }}
      ansible.builtin.copy:
        src: "{{ temp_j2_dir.path }}/"
        dest: "{{ remote_directory }}"
        mode: "{{ dir_permissions | default(docker_compose_generator_default_dir_permissions) }}"
        owner: "{{ bind_volume_owner }}"
        group: "{{ bind_volume_group }}"

    - name: Ansible | Set Fact | volume_structure_copied completed
      ansible.builtin.set_fact:
        volume_structure_copied: true

  rescue:
    - name: Remove temp directory | Rescue Block
      become: false
      delegate_to: localhost
      ansible.builtin.file:
        path: "{{ temp_j2_dir.path }}"
        state: absent
      when: temp_j2_dir is defined and temp_j2_dir.path is defined
      changed_when: false
