---
# These tasks are prerequisites for the replacement of docker tags with digests

- name: Detect host architecture
  ansible.builtin.setup:
    gather_subset:
      - hardware
  register: host_facts
  run_once: true

- name: Register host architecture variable
  ansible.builtin.set_fact:
    host_architecture: >-
      {% if host_facts.ansible_facts.ansible_architecture == 'x86_64' %}
      amd64
      {% elif host_facts.ansible_facts.ansible_architecture == 'aarch64' %}
      arm64
      {% elif host_facts.ansible_facts.ansible_architecture.startswith('arm') %}
      arm
      {% else %}
      {{ host_facts.ansible_facts.ansible_architecture }}
      {% endif %}
  run_once: true

- name: Add detected architecture to inventory file
  delegate_to: localhost
  become: false
  ansible.builtin.lineinfile:
    path: "{{ inventory_dir }}/host_vars/{{ inventory_hostname }}.yaml"
    insertafter: "^ansible_host:?"
    regexp: "^host_architecture:.*"
    line: "host_architecture: {{ host_architecture }}"
    state: present
  run_once: true
