---
- name: Set network name fact
  ansible.builtin.set_fact:
    network_item_name: "{{ network_item.value.name | default(network_item.key) }}"

- name: Traefik networks | Create external networks
  delegate_to: localhost
  become: false
  tags:
    - traefik_networks
  block:
    - name: Ansible | Stat Traefik docker-compose.yaml
      ansible.builtin.stat:
        path: "{{ docker_apps_path }}/traefik/docker-compose.yaml.j2"
      run_once: true
      register: traefik_compose_stat

    - name: Add networks to traefik configuration
      when: traefik_compose_stat.stat.exists
      block:

        - name: Traefik networks | Add network to proxy service networks list | {{ network_item_name }}
          ansible.builtin.lineinfile:
            path: "{{ docker_apps_path }}/traefik/docker-compose.yaml.j2"
            insertafter: "^    networks:?"
            regexp: "^      - {{ network_item_name }}?"
            line: "      - {{ network_item_name }}"
            state: "{{ current_loop_facts['state'] | default('present') }}"

        - name: Traefik networks | Add network to networks section
          ansible.builtin.blockinfile:
            path: "{{ docker_apps_path }}/traefik/docker-compose.yaml.j2"
            insertafter: 'networks:'
            marker: "# {mark} NETWORK {{ network_item_name | upper }}"
            state: "{{ current_loop_facts['state'] | default('present') }}"
            block: |
              {% filter indent(width=2, first=true) %}
              {{ network_item_name }}:
                driver: bridge
                external: true
              {% endfilter %}
