---
- name: Block | Ensure bind volumes exist for {{ docker_volume }}
  block:
    - name: Set Fact | Path is a volume
      ansible.builtin.set_fact:
        split_volume: "{{ docker_volume | splitext | list }}"

    - name: Docker Volumes | Ensure explicit bind volumes from docker_compose {{ docker_volume }}
      become: true
      ansible.builtin.file:
        path: "{{ docker_volume }}"
        state: 'directory'
        owner: "{{ bind_volume_owner }}"
        group: "{{ bind_volume_group }}"
        mode: "{{ dir_permissions | default(docker_compose_generator_default_dir_permissions) }}"
        recurse: true # Takes too long for large directories
      when:
        - split_volume is defined and split_volume[1] == '' # Path ends without file extension
      tags:
        - docker_dir_permissions
  always:
    - name: Cleanup | Remove temp directory | Always Block
      become: false
      delegate_to: localhost
      ansible.builtin.file:
        path: "{{ temp_j2_dir.path }}"
        state: absent
      changed_when: false
      when: temp_j2_dir is defined and temp_j2_dir.path is defined
