---
- name: Set network facts
  ansible.builtin.set_fact:
    network_item_name: "{{ network_item.value.name | default(network_item.key) }}"
    network_item_internal: "{{ network_item.value.internal | default(false) }}"
    network_item_driver: "{{ network_item.value.driver | default('bridge') }}"
    network_item_enable_ipv4: "{{ network_item.value.enable_ipv4 | default(true) }}"
    network_item_enable_ipv6: "{{ network_item.value.enable_ipv6 | default(false) }}"

- name: Traefik networks | Create external networks
  delegate_to: localhost
  when:
    - current_loop_facts['connect_to_traefik'] is defined
    - current_loop_facts['connect_to_traefik'] | default(false) is truthy
    - docker_apps_folders is defined
    - docker_apps_folders.files | selectattr('path', 'search', 'traefik') | list | length > 0
  become: false
  tags:
    - traefik_networks
  block:
    - name: Ansible | Stat Traefik docker-compose.yaml
      ansible.builtin.stat:
        path: "{{ docker_apps_path }}/traefik/docker-compose.yaml.j2"
      run_once: true
      register: traefik_compose_stat

    - name: Add networks to traefik configuration
      when: traefik_compose_stat.stat.exists
      block:

        - name: Traefik networks | Add network to proxy service networks list | {{ network_item_name }}
          ansible.builtin.lineinfile:
            path: "{{ docker_apps_path }}/traefik/docker-compose.yaml.j2"
            insertafter: "^    networks:?"
            regexp: "^      - {{ network_item_name }}?"
            line: "      - {{ network_item_name }}"
            state: "{{ current_loop_facts['state'] | default('present') }}"

        - name: Traefik networks | Add network to networks section
          ansible.builtin.blockinfile:
            path: "{{ docker_apps_path }}/traefik/docker-compose.yaml.j2"
            insertafter: 'networks:'
            marker: "# {mark} NETWORK {{ network_item_name | upper }}"
            state: "{{ current_loop_facts['state'] | default('present') }}"
            block: |
              {% filter indent(width=2, first=true) %}
              {{ network_item_name }}:
                driver: bridge
                external: true
              {% endfilter %}

- name: Create docker external network | {{ network_item_name }}
  community.docker.docker_network:
    name: "{{ network_item_name }}"
    internal: "{{ network_item_internal }}"
    driver: "{{ network_item_driver }}"
    enable_ipv4: "{{ network_item_enable_ipv4 }}"
    enable_ipv6: "{{ network_item_enable_ipv6 }}"
