---
- name: Docker App block for {{ docker_app }}
  tags: "{{ docker_app }}" # Allows to control which docker compose app to run
  block:

    - name: Facts | Initialize current_loop_facts
      ansible.builtin.set_fact:
        current_loop_facts: "{{ {} }}"

    - name: Include vars for {{ docker_app }}
      ansible.builtin.include_vars:
        file: "{{ docker_apps_path }}/{{ docker_app }}/{{ docker_app }}-vars.yaml"
        name: temp_vars

    - name: Set fact for current app
      ansible.builtin.set_fact:
        current_loop_facts: "{{ temp_vars }}"

    - name: Docker Users | Create users and groups | {{ docker_app }}
      ansible.builtin.include_tasks:
        file: 'generate_docker_users.yaml'
      when:
        - current_loop_facts['linux_users'] is defined
        - current_loop_facts['linux_users'] | length > 0
      tags:
        - docker_users

    - name: Ansible | Find | .j2 files for {{ docker_app }}
      ansible.builtin.find:
        paths: "{{ docker_apps_path }}/{{ docker_app }}"
        patterns: "*.j2"
        file_type: file
        recurse: false # We aim for docker-compose.yaml.j2 and -env.j2 files only
      register: j2_files
      become: false
      delegate_to: localhost

    - name: Ansible | Set Fact | Remote Compose Directory | {{ docker_app }} # Selects from custom_destination or default bind path for remote
      ansible.builtin.set_fact:
        remote_directory: "{{ current_loop_facts['custom_destination'] | default(docker_compose_generator_default_bind_path) }}"

    - name: Ansible | Set Fact | Helper Facts | {{ docker_app }}
      ansible.builtin.set_fact:
        sanitized_destination_compose_directory: "{{ remote_directory }}/{{ docker_app }}"
        docker_app_install_state: "{{ current_loop_facts['state'] | default('present') }}"
        output_local: "{{ current_loop_facts['local_compose_output'] | default(false) }}"
        volume_structure_copied: false

    - name: Ansible | Set Fact | Docker Compose Content | {{ docker_app }}
      ansible.builtin.set_fact:
        docker_compose_contents: "{{ lookup('ansible.builtin.template', docker_apps_path + '/' + docker_app + '/docker-compose.yaml.j2') | from_yaml }}"

    - name: Ansible | Set Fact | Local Compose Facts | {{ docker_app }} # Overwrite if local_compose_output is defined
      ansible.builtin.set_fact:
        sanitized_destination_compose_directory: "{{ docker_compose_generator_default_local_compose_output_path }}/{{ docker_app }}"
      when:
        - output_local is defined
        - output_local

    - name: Ensure remote destination directory exists | {{ docker_app }}
      ansible.builtin.file:
        state: directory
        path: "{{ sanitized_destination_compose_directory }}"
        mode: "{{ docker_compose_generator_default_dir_permissions }}"
      delegate_to: "{{ output_local | default(omit) | ternary('localhost', inventory_hostname) }}"
      become: "{{ output_local | default(omit) | ternary(false, omit) }}"

    # Create bind volumes and move contents for docker volumes
    - name: Docker Volumes | Create bind mounts | {{ docker_app }}
      ansible.builtin.include_tasks:
        file: 'bindings_and_volumes.yaml'

    # If traefik is among docker apps and connect_to_traefik, add current app networks to Traefik
    - name: Docker Networks | Add networks to Traefik | {{ docker_app }}
      ansible.builtin.include_tasks:
        file: 'generate_networks.yaml'
      loop: "{{ docker_compose_contents.networks | default({}) | dict2items }}"
      loop_control:
        label: "{{ network_item.value.name | default(network_item.key) }}"
        loop_var: 'network_item'
      when:
        - current_loop_facts['connect_to_traefik'] is defined
        - current_loop_facts['connect_to_traefik'] | default(false) is truthy
        - docker_apps_folders is defined
        - docker_apps_folders.files | selectattr('path', 'search', 'traefik') | list | length > 0

    - name: Set fact for env files
      ansible.builtin.set_fact:
        env_files: "{{ j2_files.files | selectattr('path', 'search', '.env.j2$') | list }}"
        compose_files: "{{ j2_files.files | rejectattr('path', 'search', '.env.j2$') | list }}"

    - name: Generate templated compose files | {{ docker_app }}
      ansible.builtin.template:
        src: "{{ my_template.path }}"
        dest: "{{ sanitized_destination_compose_directory }}/{{ my_template.path | basename | string | replace('.j2', '') }}"
        mode: '0644'
      delegate_to: "{{ output_local | default(omit) | ternary('localhost', inventory_hostname) }}"
      become: "{{ output_local | ternary(false, true) }}"
      tags:
        - docker_compose
      loop: "{{ compose_files }}"
      loop_control:
        label: "{{ my_template.path | basename }}"
        loop_var: my_template
      register: generated_template

    - name: .Env File Management | {{ docker_app }}
      tags: env_files
      when: env_files | length > 0
      become: "{{ output_local | ternary(false, true) }}"
      delegate_to: "{{ output_local | default(omit) | ternary('localhost', inventory_hostname) }}"
      block:
        - name: Generate base env files | {{ docker_app }}
          ansible.builtin.template:
            src: "{{ env_file.path }}"
            dest: "{{ sanitized_destination_compose_directory }}/{{ env_file.path | basename | string | replace('.j2', '') }}"
            mode: '0600'
          loop: "{{ env_files }}"
          loop_control:
            label: "{{ env_file.path | basename }}"
            loop_var: env_file
          register: generated_env_files

        - name: Add common env variables | {{ docker_app }}
          ansible.builtin.blockinfile:
            insertafter: EOF
            path: "{{ item.dest }}"
            mode: '0600'
            block: "{{ docker_compose_generator_mandatory_env_file_vars }}"
          loop: "{{ generated_env_files.results }}"
          loop_control:
            label: "{{ item.dest | basename }}"
            loop_var: item

    - name: Docker | Compose up | Portainer
      community.docker.docker_compose_v2:
        project_src: "{{ portainer_template.dest | dirname }}"
        state: "{{ docker_app_install_state }}"
        env_files: "{{ portainer_template.dest | dirname }}/stack.env"
      loop: "{{ generated_template.results }}"
      loop_control:
        label: "{{ portainer_template.dest | basename }}"
        loop_var: portainer_template
      when:
        - docker_app == 'portainer'
        - current_loop_facts['docker_compose_run'] is defined
        - current_loop_facts['docker_compose_run']

    - name: Ubuntu | Backup | Detect volumes to backup for {{ docker_app }}
      ansible.builtin.include_tasks:
        file: 'generate_backups.yaml'
      when:
        - current_loop_facts['backup_volumes'] is defined
        - current_loop_facts['backup_volumes'] | length > 0

    - name: Ubuntu | Firewall | Add rules for {{ docker_app }}
      ansible.builtin.include_role:
        name: ufw_config
      vars:
        ufw_config_ruleset: "{{ current_loop_facts['ufw'] }}"
      tags: firewall
      when:
        - current_loop_facts['ufw'] is defined
        - current_loop_facts['ufw'] | length > 0
