- name: Prerequisites
  tags:
    - prerequisites
    - install_docker
  block:
    - name: Add signing key
      ansible.builtin.apt_key:
        url: "https://download.docker.com/linux/{{ ansible_distribution | lower }}/gpg"
        state: present

    - name: Add Docker Repository
      ansible.builtin.apt_repository:
        repo: "deb [arch={{ host_architecture }}] https://download.docker.com/linux/{{ ansible_distribution | lower }} {{ ansible_distribution_release }} stable"
        filename: docker
        state: "{{ docker_compose_generator_docker_install_status | ternary('present', 'absent') }}"

    - name: Docker + Docker compose install
      ansible.builtin.apt:
        name:
          - docker-ce
          - docker-compose
        update_cache: true
        state: "{{ docker_compose_generator_docker_install_status | ternary('present', 'absent') }}"

    - name: Remove docker snap
      community.general.snap:
        name:
          - docker
        state: absent
