# VPN Configs
openvpn_user={{ vpn_config.VPN_SVC_USER | default('your_username') }}
openvpn_password={{ vpn_config.VPN_SVC_PWD | default('your_password') }}
server_countries={{ vpn_config.VPN_COUNTRY | default('Argentina') }}

# Jacket Configs
jackett_uid={{ docker_app_users.results[0].uid }}
jackett_gid={{ extra_groups_gid_map['Media'] }}

# Qbittorrent-nox Configs
qbittorrent_uid={{ docker_app_users.results[0].uid }}
qbittorrent_gid={{ extra_groups_gid_map['Media'] }}
