services:
  automaticrippingmachine:
    container_name: automaticrippingmachine
    image: automaticrippingmachine/automatic-ripping-machine:latest
    restart: always
    privileged: true # Should run privileged as per documentation
    ports:
      - 8084:8080
    cpus: 3
    volumes:
      - ${docker_volume_path}/{{ docker_app }}/arm:/home/arm:rw
      - ${docker_volume_path}/{{ docker_app }}/config:/etc/arm/config
      - ${docker_volume_path}/{{ docker_app }}/logs:/etc/arm/logs
      - type: bind
        source: /{{ lvms['staging'].mount_point }}/{{ docker_app }}/media
        target: /home/arm/media
      - type: bind
        source: /{{ lvms['staging'].mount_point }}/{{ docker_app }}/music
        target: /home/arm/music

    environment:
      ARM_UID: ${uid}
      ARM_GID: ${gid}
      TZ: ${TZ}
    devices:
      - "/dev/sr0:/dev/sr0"
      - "/dev/sg7:/dev/sg7"
      - /dev/dri # For hardware acceleration, if available
