services:
  postgres:
    restart: unless-stopped
    image: library/postgres:14
    hostname: postgres
    networks:
     - semaphore
    volumes:
     -  ${docker_volume_path}/{{ docker_app }}:/var/lib/postgresql/data
    environment:
     POSTGRES_USER: ${pg_username}
     POSTGRES_PASSWORD: ${pg_password}
     POSTGRES_DB: semaphore
  semaphore:
    restart: unless-stopped
    ports:
      - 3000:3000
      - 2222:22
    image: semaphoreui/semaphore:latest
    networks:
     - semaphore
    environment:
      TZ: ${TZ}
      SEMAPHORE_DB_USER: ${sempahore_db_user}
      SEMAPHORE_DB_PASS:  ${pg_password}
      SEMAPHORE_DB_HOST: postgres
      SEMAPHORE_DB_PORT: 5432
      SEMAPHORE_DB_DIALECT: postgres
      SEMAPHORE_DB: semaphore
      SEMAPHORE_PLAYBOOK_PATH: /tmp/semaphore/
      SEMAPHORE_ADMIN_PASSWORD: ${semaphore_admin_password}
      SEMAPHORE_ADMIN_NAME: ${semaphore_admin_user}
      SEMAPHORE_ADMIN_EMAIL: ${semaphore_admin_email}
      SEMAPHORE_ADMIN: ${semaphore_admin_user}
      SEMAPHORE_ACCESS_KEY_ENCRYPTION: ${semaphore_access_key_encryption}
      SEMAPHORE_SSH_PORT: 22 # Used to connect to host
      SEMAPHORE_SSH_HOST: ${ansible_host}
    extra_hosts:
      - host.docker.internal:${ansible_host}
    labels:
      - traefik.enable=true
      - traefik.http.routers.semaphore.rule=Host(`semaphore.${public_domain_name}`)
      - traefik.http.routers.semaphore.entrypoints=websecure
      - traefik.http.middlewares.semaphore.headers.customrequestheaders.Host=semaphore.${public_domain_name}
      - traefik.http.services.semaphore.loadbalancer.server.port=3000
    depends_on:
      - postgres
volumes:
  semaphore-postgres:

networks:
  semaphore:
    name: semaphore
    driver: bridge
    ipam:
      config:
        - subnet: "${semaphore_subnet}"
    external: true
