pg_username={{ semaphore.postgres_user | default('semaphore') }}
pg_password={{ semaphore.postgres_pwd }}
sempahore_db_user={{ semaphore.postgres_user | default('semaphore') }}
semaphore_admin_password={{ semaphore.admin_password }}
semaphore_admin_user={{ semaphore.admin_user | default('admin') }}
semaphore_admin_email={{ semaphore.admin_user | default('admin') }}@localhost
semaphore_access_key_encryption={{ semaphore.encryption_key}}
semaphore_runner_registration_token={{ semaphore.runner_registration_token | default('') }}
semaphore_use_remote_runner: "{{ semaphore.use_remote_runner | default(false) }}"
