pg_username={{ semaphore.semaphore_postgres_user | default('semaphore') }}
pg_password={{ semaphore.semaphore_postgres_pwd }}
sempahore_db_user={{ semaphore.semaphore_postgres_user | default('semaphore') }}
semaphore_admin_password={{ semaphore.semaphore_admin_password }}
semaphore_admin_user={{ semaphore.semaphore_admin_user | default('admin') }}
semaphore_admin_email={{ semaphore.semaphore_admin_user | default('admin') }}@localhost
semaphore_access_key_encryption={{ semaphore.sempahore_encryption_key}}
semaphore_subnet={{ (current_loop_facts.ufw | first).from_ip }}
