services:
  samba:
    image: dockurr/samba
    container_name: samba
    network_mode: host
    environment:
      UID: ${uid}
      GID: ${gid}
    ports:
      - 445:445
    volumes:
      - ${docker_volume_path}/{{ docker_app }}/smb.conf:/etc/samba/smb.conf
      - ${docker_volume_path}/{{ docker_app }}/users.conf:/etc/samba/users.conf
      - /${zfs_pool_name}/{{ onedrive_config.directory_name }}/Pictures/:/shares/onedrive_photos:rw
      - /{{ lvms['staging'].mount_point }}/automatic_ripping_machine/media/:/shares/arm:rw
    restart: always
