---
- name: Configure UFW firewall
  tags:
    - firewall
    - ufw
  block:

    - name: Install UFW package
      ansible.builtin.apt:
        name: ufw
        state: present
      when: ufw_installed is not defined or not ufw_installed

    - name: Set UFW Fact
      ansible.builtin.set_fact:
        ufw_installed: true

    - name: Implement firewall rules
      community.general.ufw:
        rule: "{{ item.rule }}"
        proto: "{{ item.proto }}"
        port: "{{ item.port | default(omit) }}"
        to_ip: "{{ item.to_ip | default(omit) }}"
        from_ip: "{{ item.from_ip | default(omit) }}"
        delete: "{{ item.delete | default(omit) }}"
        comment: "{{ item.comment | default(omit) }}"
      loop:
        "{{ ufw_config_ruleset }}"
      notify:
        - Enable UFW
