{
    "TV": {
        "save_path": "/media/{{ vpn_config.TV_DIR }}"
    },
    "films": {
        "save_path": "/media/{{ vpn_config.MOVIES_DIR }}"
    },
    "musique": {
        "save_path": "/media/{{ vpn_config.MUSIC_DIR }}"
    }
}
