services:
  plex:
    container_name: plex
    hostname: plex
    image: plexinc/pms-docker:latest
    restart: unless-stopped
    networks:
      - plex
    sysctls:
      - net.ipv6.conf.all.disable_ipv6=1  # Recommended if using ipv4 only
    devices:
      - /dev/dri
    ports:
    - ${plex_external_port}:32400/tcp
    - 8324:8324/tcp
    - 32469:32469/tcp
    - 1900:1900/udp
    - 32410:32410/udp
    - 32412:32412/udp
    - 32413:32413/udp
    - 32414:32414/udp
    environment:
      TZ: ${TZ}
      PLEX_CLAIM: ${plex_claim_id}
      ADVERTISE_IP: http://${ansible_host}:32400
      HOSTNAME: ${plex_hostname}
      ALLOWED_NETWORKS: ${local_subnet_range}
      CHANGE_CONFIG_DIR_OWNERSHIP: false
      PLEX_UID: ${plex_uid}
      PLEX_GID: ${plex_gid}
    labels:
      - traefik.enable=true
      - traefik.http.routers.plex.rule=Host(`plex.${public_domain_name}`)
      - traefik.http.routers.plex.entrypoints=websecure
      - traefik.http.routers.plex.tls=true
      - traefik.http.services.plex.loadbalancer.server.port=${plex_external_port}
    volumes:
      - ${docker_volume_path}/plex:/config
      - type: bind
        source: /${zfs_pool_name}/Videos/Films
        target: /media/movies
      - type: bind
        source: /${zfs_pool_name}/Videos/TV
        target: /media/tv
      - type: bind
        source: /${zfs_pool_name}/Musique
        target: /media/music
      - type: bind
        source: /${zfs_pool_name}/Videos/Famille
        target: /media/family
      - /{{ lvms['staging'].mount_point }}/downloads:/media/staged-torrents:ro

networks:
  plex:
    name: plex
    driver: bridge
    external: true
