plex_claim_id={{ plex_config.plex_claim | default('') }}
plex_hostname={{ plex_config.server_hostname | default('plex') }}
plex_uid={{ docker_app_users.results[0].uid }}
plex_gid={{ extra_groups_gid_map['Media'] }}
plex_external_port={{ plex_config.external_port | default(32400) }}
