services:
  portainer:
    image: portainer/portainer-ce:alpine
    container_name: portainer
    restart: always
    ports:
      - "8000:8000"
      - "9443:9443"
    networks:
      {{ docker_app }}:
        ipv4_address: ${portainer_ip}
    labels:
      - traefik.enable=true
      - traefik.http.routers.{{ docker_app }}.rule=Host(`{{ docker_app }}.${public_domain_name}`)
      - traefik.http.routers.{{ docker_app }}.entrypoints=websecure
      - traefik.http.routers.{{ docker_app }}.tls=true
      - traefik.http.services.{{ docker_app }}.loadbalancer.server.port=9443
    environment:
      TZ: ${TZ}
    volumes:
      - type: bind
        source: ${docker_volume_path}/{{ docker_app }}/data
        target: /data
      - /var/run/docker.sock:/var/run/docker.sock
    env_file:
      - {{ docker_app }}.env

  portainer_agent:
    image: portainer/agent:alpine
    container_name: portainer_agent
    environment:
      TZ: ${TZ}
    networks:
      {{ docker_app }}:
        ipv4_address: ${portainer_agent_ip}
    restart: always
    ports:
      - "9001:9001"
    volumes:
      - ${docker_volume_path}/{{ docker_app }}/agent_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
      - /:/host

networks:
  {{ docker_app }}:
    name: {{ docker_app }}_network
    driver: bridge
    ipam:
      config:
        - subnet: "${subnet}"
    enable_ipv6: false
