services:
  portainer:
    image: portainer/portainer-ce:alpine
    container_name: portainer
    restart: always
    ports:
      - "8000:8000"
      - "9443:9443"
    networks:
      {{ docker_app }}:
        ipv4_address: "{{ current_loop_facts.preferred_subnet | regex_replace('^([0-9]+\\.[0-9]+\\.[0-9]+)\\..*', '\\1') }}.2"
    labels:
      - traefik.enable=true
      - traefik.http.routers.{{ docker_app }}.rule=Host(`{{ docker_app }}.{{ public_domain_name }}`)
      - traefik.http.routers.{{ docker_app }}.entrypoints=websecure
      - traefik.http.routers.{{ docker_app }}.tls=true
      - traefik.http.services.{{ docker_app }}.loadbalancer.server.port=9443
    environment:
      TZ: {{ docker_compose_generator_default_time_zone }}
    volumes:
      - type: bind
        source: {{ docker_compose_generator_default_bind_path }}/{{ docker_app }}/data
        target: /data
      - /var/run/docker.sock:/var/run/docker.sock
    env_file:
      - {{ docker_app }}.env

  portainer_agent:
    image: portainer/agent:alpine
    container_name: portainer_agent
    environment:
      - TZ={{ docker_compose_generator_default_time_zone }}
    networks:
      {{ docker_app }}:
        ipv4_address: "{{ current_loop_facts.preferred_subnet | regex_replace('^([0-9]+\\.[0-9]+\\.[0-9]+)\\..*', '\\1') }}.3"
    restart: always
    ports:
      - "9001:9001"
    volumes:
      - {{ docker_compose_generator_default_bind_path }}/{{ docker_app }}/agent_data:/datata
      - /var/run/docker.sock:/var/run/docker.sock
      - /var/lib/docker/volumes:/var/lib/docker/volumes
      - /:/host

networks:
  {{ docker_app }}:
    name: {{ docker_app }}_network
    driver: bridge
    ipam:
      config:
        - subnet: "{{ current_loop_facts.preferred_subnet }}"
    enable_ipv6: false
