subnet={{ portainer.subnet | default('192.168.111.0/24') }}
portainer_ip={{ portainer.subnet |  default('192.168.111.0/24') | regex_replace('^([0-9]+\\.[0-9]+\\.[0-9]+)\\..*', '\\1') }}.2
portainer_agent_ip={{ portainer.subnet |  default('192.168.111.0/24') | regex_replace('^([0-9]+\\.[0-9]+\\.[0-9]+)\\..*', '\\1') }}.3
