mariadb_user={{ digikam.mariadb_user | default('maria') }}
mariadb_password={{ digikam.mariadb_password | default('changeme123') }}
mariabd_root_password={{ digikam.mariadb_root_password | default('changeme123r00t') }}
mariabd_auto_uprade={{ digikam.mariadb_auto_upgrade | default('true')}}
