---
# ansible-playbook playbooks/configure.yaml

- name: Initial Setup
  hosts: homelab
  become: true

  vars_files:
    - vars/docker.yaml
    - vars/sensitive/docker-sensitive.yaml
    - vars/ufw_rules.yaml
    - vars/volumes.yaml

  tasks:

    - name: Linux | APT | Install packages
      ansible.builtin.include_tasks:
        file: tasks/linux_packages.yaml
      tags:
        - packages

    - name: Linux | Users | Create users and groups
      ansible.builtin.include_tasks:
        file: tasks/linux_users.yaml
      tags:
        - users
        - groups

    - name: Linux | ZFS | Storage Pool Config
      ansible.builtin.include_tasks:
        file: tasks/linux_zfs.yaml
      tags:
        - zfs
        - storage_pool

    # Creates port 22 rule for SSH to ansible_host
    - name: Ubuntu | Firewall | SSH Firewall config
      ansible.builtin.include_role:
        name: ufw_config
      vars:
        ufw_config_ruleset: "{{ local_subnet_ufw }}"
      tags: firewall

    - name: Docker | Create Compose file
      ansible.builtin.include_role:
        name: docker_compose_generator
      tags:
        - docker
        - docker_compose
      vars:
        docker_compose_generator_default_bind_path: "{{ preferred_docker_app_path | default(omit) }}"
        docker_compose_generator_default_local_compose_output_path: "{{ docker_compose_local_output_dir | default(omit) }}"

    - name: Restart Docker Unhealthy Containers Service Setup
      ansible.builtin.include_role:
        name: restart_docker_unhealthy
      tags:
        - docker
        - docker_unhealthy_restart
